
{%load static%}
<!DOCTYPE html>
<html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    
        <title>Weather Application</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
        <style>
            *{
                margin: 1%;
                padding : 2px;
            }
            span{
                padding: 5px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
            }
        </style>
    </head>

    <body>

        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://docs.djangoproject.com/en/3.2/">Django Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://openweathermap.org/api">Get API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://linkedin.com/in/karma19">Developer's Profile</a>
            </li>
          </ul>

        <center>
            <h1>Weather Application</h1>
        
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="city" class="form-control" id="formGroupExampleInput" placeholder="Enter city name here ...">
                <input type="submit" value="Search">
            </div>
        </form>


        
        <h3 style="color: rgb(14, 29, 236); font-size: 30px;" >
            <span style="background-color: orange;">City</span> : {{ city_weather.city }} <br>
            <span style="background-color: violet;">Longitude</span> : {{ city_weather.lon }} <br>
            <span style="background-color: orange;">Latitude</span> : {{ city_weather.lat }}<br>
            <span style="background-color: violet">Monsoon</span> : {{ city_weather.description }} <br>
            <span style="background-color: orange;">Humidity</span> : {{ city_weather.humidity }} <br>
            <span style="background-color: violet;">Temperature in Celsius</span> : {{ city_weather.temperature }} <br>
            <span style="background-color: orange;">Wind speed in m/s</span> : {{ city_weather.wind}} <br>
            <span style="background-color: violet;">Country</span> : {{ city_weather.country}} <br>
        </h3>
        
    </center>
    </body>
</html>







